.logo{
    width: 70px;
}
ul li{
    list-style: none;
}
.fondo__index{
    background-image: url(https://image.freepik.com/foto-gratis/coleccion-humo-azul-sobre-fondo-blanco_1112-1416.jpg);
}
.titulo__inicio{
    color: rgb(26, 24, 114);
    padding: 7% 0 0;
}
#healt__titulo{
    font-family: 'Merriweather', serif;
    color: rgb(26, 24, 114);
    font-size: 100px;
}
.texto__inicio{
    color: rgb(26, 24, 114);
    padding: 3%;
}
#healt__subtitulo{
    font-family: 'Merriweather', serif;
    color: rgb(26, 24, 114);
    font-size: 20px;
}
#healt__texto{
    font-family: 'Merriweather', serif;
    color: rgb(26, 24, 114);
    font-size: 15px;
    letter-spacing: 3px;
}
.button__inicio{
    border-radius:3ch;
    border: 5px solid rgb(196 196 196);
    box-shadow: 0 12px 16px 0 rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 19%);
    margin: 3% 0;
}
/*Footer*/
footer{
    background-color: grey;
    color:  rgb(26, 24, 114);
}
#iconos__redes{
    text-align: center;
}


/*Nosotros*/
.portada{
    width: 100%;
    height: 75vh;
    object-fit: cover;
}
.nosotros__texto{
    background-color: rgb(26, 24, 114);
    color: white;
    margin: 3% 2%;
    padding: 4% 9%;
    text-align: center;
}