*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
//NavBar//
.navBar{
  background-color: rgb(32, 33, 92);
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 100;
}
.enlace{
  position: absolute;
  padding:0;
}
.logo{
  height:5rem;
}
.menu__list{
  float: right;
  margin-right: 20px;
  &_item {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    a {
      color: #c4c4c4;
      font-size: 18px;
      padding: 7px 13px;
      border-radius: 3px;
    }
    a:active, a:hover {
      background: #383197;
      transition: .5s;
    }
  }
}
.checkbtn{
  font-size: 30px;
  color: #c4c4c4;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
//NavBarMobile//
@media (max-width: 952px){
  .enlace{
      padding-left: 20px;
  }
  .navBar{
    font-size: 16 px;
  }
}

@media (max-width: 858px) {
  .checkbtn{
    display: block;
  }
  .menu__list{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #393849;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: 0.5s;
    &_item {
      display: block;
      margin: 50px 0;
      line-height: 30px;
      a {
        font-size: 20px;
      }
      a:hover, a:active {
        background: none;
      }
    }
  }
  #check:checked ~ .menu__list {
    left: 0;
  }
}
@media (max-width: 952px) {
  .portada{
    width: 100%;
    margin-top: 20%;
  }
}
//Index//
.fondo__index {
  background-image: url(../Recursos/Fondo_index2.jpg);
  background-size: cover;
  background-position:center center;
  height: calc(100vh - 80px);
  background-attachment: fixed;
}

.healt__inicio {
  color: #1a1872;
  padding: 14% 0 0 0;
}

.healt__titulo {
  display: flex;
  justify-content: center;
  font-family: "Merriweather", serif;
  color: #1a1872;
  font-size: 100px;
}

.healt__subtitulo {
    display: flex;
    justify-content: center;
    font-family: "Merriweather", serif;
    color: #1a1872;
    font-size: 20px;
  }

.texto__inicio {
  color: #1a1872;
  padding: 3%;
}

.healt__texto {
  display: flex;
  justify-content: center;
  font-family: "Merriweather", serif;
  color: #1a1872;
  font-size: 15px;
  letter-spacing: 3px;
}
.healt__button{
  display: flex;
  justify-content: center;
}
.button__inicio {
  border-radius: 3ch;
  border: 5px solid #c4c4c4;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  margin: 3% 0;
}

@media (max-width: 952px){
  .healt__titulo {
    padding: 50% 0 0;
  }
  .healt__texto {
    text-align: center;
    letter-spacing: 1px;
    padding: 3% 0;
  }
}

//Footer//
footer {
  background-color: grey;
  color: #1a1872;
}

.footer_menu{
  display: flex;
  justify-content: space-around;
}
.footer__redes {
  text-align: center;
}
.footer__contactos{
  display: flex;
  flex-direction: column;
}
.items__informacion{
  color: #1a1872;
}
.leyenda{
  display: flex;
  justify-content: center;
}
//FooterMobile//
@media (max-width: 952px){
  .footer_menu {
    flex-direction: column;
    text-align: center;
  }
}

//Nosotros//
.portada {
  width: 100%;
}

.nosotros__texto {
  background-color: #1a1872;
  color: white;
  margin: 3% 2%;
  padding: 4% 9%;
  text-align: center;
}
.personal{
  display: flex;
  justify-content: space-around;
  &__nosotros1 {
    width: 18rem;
  }
    &__img{
      width: 100%;
      border-radius: 100%;
    }
  &__nosotros2 {
    width: 18rem;
  }
  &__nosotros3 {
    width: 18rem;
  }
}
.fadeInAnimation{
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
//NosotrosMobile//
@media (max-width: 952px){
  .personal{
    flex-direction: column;
    align-items: center;
    }
  }
  @media (max-width: 952px){
    .fadeInAnimation{
      animation: fadeOutAnimation;
    }
  }
  
//Promociones//
.promociones  {
  display: flex;
  text-align: center;
  color: #c4c4c4;
  width: 70%;
  margin: 2rem auto;
  &__imagen{
    width: 20rem;
  }
  &__textoTitulo{
    background-color: #1a1872;
  }
}
.button__promociones{
  border-radius: 3ch;
}
//PromocionesMobile//
@media (max-width: 952px){
  .promociones{
    flex-direction: column;
    align-items: center;
  }
  .promociones__imagen{
    width: 17rem;
  }
}
//Servicios//
.servicio__texto {
  background-color: #1a1872;
  color: white;
  margin: 3% 2%;
  padding: 4% 9%;
  text-align: center;

}
.servicios1{
  display: flex;
  color: white;
  width: 70%;
  margin: auto;
    &__texto  {
      display: flex;
      align-items: center;
      text-align: center;
      flex-direction: column;
      background-color: #1a1872;
      padding: 5%;
      }
    &__imagen {
      width: 16rem;
      height: 18rem;
  }
}
.servicios2{
  display: flex;
  color: white;
  width: 70%;
  margin: 2rem auto;
    &__imagen{
      width: 18rem;
    }
    &__texto{
      display: flex;
      align-items: center;
      text-align: center;
      flex-direction: column;
      background-color: #1a1872;
      padding: 2%;
    }
}
//ServiciosMobile//
@media (max-width: 952px){
  .servicios1{
    flex-direction: column;
    align-items: center;
  }
  .servicios1__texto {
    text-align: center;
  }
  .servicios1__imagen {
    width: 17rem;
  }
}
@media (max-width: 952px){
  .servicios2{
    flex-direction: column-reverse;
    align-items: center;
  }
  .servicios2__texto {
    width: 100%;
    text-align: center;
  }
  .servicios2__imagen {
    width: 17rem;
  }
}
//Contacto//
.formulario{
  background-image: url(../Recursos/contacto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center center;
  background-attachment: fixed;
}
.form{
  font-family: "Merriweather", serif;
    &__name{
      margin: 0 0 30px;
    }
    &__email{
      margin: 0 0 30px;
    }
    &__message{
      margin: 0 0 30px;
    }
}
.form__grupo {
  margin: 0 30%;
}
.user {
  width: 100%;
}
.button__contacto{
  margin: auto;
  border-radius: 3ch;
}
.contacto{
  width: 50%;

}
@media (max-width: 952px) {
.mapa__contacto {
  width: 100%;
}
}